<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%"
    *ngFor="let num of [1,2,3,4]">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="./../assets/images/shiba2.jpeg">
      <mat-card-subtitle>
        Dog Breed {{ num }}
        <div fxFlex></div>
        <button mat-mini-fab style="margin-top: -32px;" class="mat-elevation-z2">
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-title>Seja Full-Stack com Angular, .NET Core + EF Core</mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <!-- <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer> -->
    </mat-card>
  </div>
</div>
