:host {
  display: contents;
}

mat-sidenav-content {
  height: 100vh;
}

.content {
  padding: 20px;
  border-radius: 5px;
  margin: -30px 20px 20px;
  background-color: white;
}

mat-sidenav-container {
  height: 100vh;
}

.toolbar-submenu {
  height: 120px;
  font-size: 2rem;
  margin-top: 60px;
  padding: 20px;

  .title {
    padding-bottom: 10px;
  }
}

//| - - - Sidebar - - - |//

.mat-drawer-container {
  background-color: #efefef;
}

.sidenav {
  width: 250px;
}

mat-nav-list {
  padding: 8px;

  a {
    border-radius: 10px;
    margin-bottom: 4px;
    padding-top: 1px;
    font-size: 0.9rem;
    color: #000;

    mat-icon {
      margin-right: 20px;
    }

    span {
      padding-top: 4px;
    }
  }

  a:hover {
    background-color: #e6e6e6;
  }

  .active {
    background-color: #e6e6e6;
  }
}

mat-sidenav {
  mat-toolbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
    background-color: white;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .name {
    margin-top: 8px;
    font-weight: normal;
  }

  .designation {
    margin-top: 2px;
    font-size: 0.8rem;
    color: gray;
  }
}

