mat-form-field {
  font-size: 14px;
  width: 100%;
  padding-bottom: 0px !important;
}

mat-card {
  border-radius: 0;
  margin-bottom: 4px;
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 25%);
  transition: .3s
    transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s
    -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

mat-card:hover {
  transform: scale(1.01);
}

mat-card-title {
  font-size: 20px;
}
